html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %rubik-500;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  // text-decoration: none;
  color: $abg;
  font-size: 18px;
  line-height: 24px;
  @extend %rubik-500;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 60px 0;
  margin-right: 250px;

  &__list {
    display: flex;
  }

  &__arrows-btn {
    width: 48px;
    height: 48px;
    background-color: #FAEDED;
    border: none;
    border-radius: 3px;
    margin-left: 6px;
    cursor: pointer;
  }

  &__btn {
    width: 48px;
    height: 48px;
    background-color: #FAEDED;
    border: none;
    border-radius: 3px;
    margin-left: 6px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;

    &:hover{
      background-color: $orange-900;
      color: #fff;
      border-color: $orange-900;
    }
    &:focus {
      border-color: $orange-900;
    }
    &:active{
      box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
      border-color: #FAEDED;
    }
  }

  &__btn-text:hover{
    color: #fff;
  }

  &__arrows {
    position: relative;

    ::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 18px;
    }
  }

  &__prev {
    &::before {
      background-image: url('../images/icons/pagin-prev.svg');
    }
  }

  &__next {
    &::before {
      background-image: url('../images/icons/pagin-next.svg');
    }
  }

  &__arrows-img--prev {
    margin-top: 7px;
  }
    &__arrows-img--next {
      margin-top: 7px;
    }

    &__btn-active {
      border: 1px solid $title;
    }
}