body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
  letter-spacing: 0em;
  line-height: 30px;
  font-style: normal;
}

/* global */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 140px 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  position: relative;
  margin-bottom: 60px;
  display: inline-block;
}

.title:before {
  content: '';
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  left: 0;
  bottom: 4px;
  height: 15px;
  width: 100%;
}

.button {
  background-color: #2352DE;
  color: #fff;
  margin-top: 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 24px;
  transition: background-color 0.1s, outline 0.1s;
}

.button:hover {
  background-color: #fff;
  color: #2352DE;
  outline: 1px solid #2352DE;
}

.button:focus {
  outline: 3px solid #4f6bbd;
}

.button:active {
  background-color: #2352DE;
  color: #fff;
  box-shadow: 0px 7px 4px 0px #00000040 inset;
}

/* end global */

.header {
  height: 100vh;
  background-image: url('../images/background_image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(35, 82, 222, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.9;
  z-index: -1;
}

.menu {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  
}

.logo {
  transition: outline 0.3s, opacity 0.3s;
}

.logo:focus {
  outline: 3px solid #2352DE;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .menu__item+.menu__item {
  margin-left: 30px;
} */

.menu__item:not(:first-child) {
  margin-left: 30px;
}

.menu__link {
  text-decoration: underline transparent;
  border-radius: 3px;
  transition: text-decoration-color 0.3s, outline 0.3s, opacity 0.3s;
}

.menu__link:hover {
  text-decoration-color: #fff;
}

.menu__link:focus {
  outline: 1px solid #fff;
}

.menu__link:active {
  opacity: 0.5;
}

.header__content {
  height: calc(100vh - 131px);
  display: flex;
  align-items: center;
  position: relative;
}

.header__title {
  max-width: 50%;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
}

.header__subtitle {
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
}

.header__link {
  font-weight: 600;
  line-height: 23px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline transparent;
  transition: outline 0.3s, text-decoration-color 0.3s, opacity 0.3s;
}

.header__link:focus {
  outline: 1px solid #fff;
  border-radius: 5px;
}

.header__link:hover {
  text-decoration-color: #fff;
}

.header__link:active {
  opacity: 0.5;
}

.header__link::after {
  display: block;
  content: "";
  background-image: url('../images/arrow_down.svg');
  margin: 10px auto 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 34px;
  height: 23px;
}

.about__text p {
  line-height: 29px;
}

.about__text p:not(:last-child) {
  margin-bottom: 25px;
}

.skills {
  background-color: #F6F6F8;
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__content {
  max-width: 660px;
  width: 100%;
  margin-left: 90px;
}

.skills__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.skills__info:not(:last-child) {
  margin-bottom: 85px;
}

.skills__text {
  text-transform: uppercase;
}

.skill__line {
  width: 100%;
  max-width: 605px;
  height: 32px;
  background-color: #DBDBED;

}

.skill__progress {
  display: block;
  height: 100%;
  background-color: #2352DE;
}

.services__inner {
  display: flex;
  justify-content: space-between;
}

.services__item {
  width: 330px;
}

.services__item:not(:first-child) {
  margin-left: 90px;
}

.services__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.services__item--layout::before {
  background-image: url('../images/code_icon.svg');
}

.services__item--cms::before {
  background-image: url('../images/dev_icon.svg');
}

.services__item--sup::before {
  background-image: url('../images/chat_icon.svg');
}

.services__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.services__text {
  margin-top: 25px;
  font-size: 16px;
}

.portfolio {
  padding-top: 0;
  text-align: center;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

/* .portfolio__btn+.portfolio__btn {
  margin-left: 35px;
} */

.portfolio__btn:not(:first-child) {
  margin-left: 35px;
}

.portfolio__btn {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  transition: outline 0.3s, text-decoration-color 0.3s color 0.3s;
}

.mixitup-control-active {
  color: #2352DE;
}

.portfolio__btn:hover {
  text-decoration: underline;
  color: #2352DE;
}

.portfolio__btn:focus {
  outline: 1px solid #2352DE;
  border-radius: 6px;
}

.portfolio__btn:active {
  color: #2352DE;
}

/* .portfolio__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -45px;
  margin-bottom: 15px;
} */

.portfolio__content {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: 360px 360px;
  grid-gap: 45px 45px;
  margin-right: -45px;
  margin-bottom: 15px;
}

.portfolio__item {
  margin-bottom: 45px;
  margin-right: 45px;
}

.reviews {
  background-color: #F6F6F8;
  text-align: center;
}

.reviews__content {
  display: flex;
  justify-content: center;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 325px;
}

.circle__image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 130px;
  height: 130px;
  margin-left: 130px;
}

.reviews__name {
  color: #2352DE;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews__text {
  max-width: 400px;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
}

.reviews__video {
  display: flex;
  width: 570px;
  height: 400px;
  background-image: url('../images/video_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
  margin-left: 100px;
  margin-right: 49px;
  z-index: 0;
  color: #fff;
}

.reviews__video::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(6, 11, 26, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.9;
  z-index: -1
}

.portfolio__numbers {
  display: flex;
  justify-content: space-between;
  padding: 140px 0 140px;
}

.portfolio__numbers-inner {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 140px 0 140px;
  column-count: 4;
  column-gap: 17px;
}

.portfolio__numbers-works {
  display: block;
  background-color: #DBDBED;
  position: relative;
  width: 280px;
  height: 287px;
}

.portfolio__numbers-works::before {
  content: "";
  position: absolute;
  width: 97px;
  height: 80px;
  background-image: url('../images/works.svg');
  background-repeat: no-repeat;
  margin-left: 91px;
  margin-right: 91px;
  margin-top: 50px;
}


.portfolio__numbers-item {
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  /* margin-bottom: 20px; */
}

.numbers__link {
  font-family: Open Sans;
  font-size: 44px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}

.portfolio__numbers-clients {
  display: block;
  background-color: #DBDBED;
  position: relative;
  width: 280px;
  height: 287px;
}

.portfolio__numbers-clients::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url('../images/clients.svg');
  width: 97px;
  height: 80px;
  background-repeat: no-repeat;
  margin-left: 91px;
  margin-right: 91px;
  margin-top: 50px;
}

.portfolio__numbers-coffee {
  display: block;
  background-color: #DBDBED;
  position: relative;
  width: 280px;
  height: 287px;
}

.portfolio__numbers-coffee::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url('../images/coffee.svg');
  width: 97px;
  height: 80px;
  background-repeat: no-repeat;
  margin-left: 91px;
  margin-right: 91px;
  margin-top: 50px;
}

.portfolio__numbers-review {
  display: block;
  background-color: #DBDBED;
  position: relative;
  width: 280px;
}

.portfolio__numbers-review::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url('../images/review.svg');
  width: 97px;
  height: 80px;
  background-repeat: no-repeat;
  margin-left: 91px;
  margin-right: 91px;
  margin-top: 50px;
}

.contacts__connection {
  display: flex;
  justify-content: space-between;
}

.contacts__connection--part1 {
  margin-bottom: 255px;
}

.contacts__connection--text {
  display: block;
  width: 530px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}

.phone {
  display: block;
  margin-bottom: 15px;
  color: #2352DE;
  width: 160px;
  transition: border-bottom 0.3s, opacity 0.3s;
}

.phone:focus {
  outline: 1px solid #2352DE;
}

.phone:hover {
  border-bottom: 1px solid #2352DE;
}

.phone:active {
  opacity: 0.3;
}

.email {
  display: block;
  width: 255px;
  margin-bottom: 20px;
  color: #2352DE;
  transition: outline 0.3s border-bottom 0.3s, opacity 0.3s;
}

.email:focus {
  outline: 1px solid #2352DE;
}

.email:hover {
  border-bottom: 1px solid #2352DE;
}

.email:active {
  opacity: 0.3;
}

.contacts__social {
  display: flex;
  justify-content: start;
  column-count: 3;
  column-gap: 20px;
}

.contacts__social-link:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.contacts__social-link:focus {
  border-radius: 1px solid #2352DE;
  /* text-decoration: #2352DE;
  outline: 3px solid #2352DE; */
}

.form {
  max-width: 540px;
  margin-bottom: 140px;
}

.contacts__connection--item1 {
  display: flex;
  justify-content: space-between;
}

.you__name {
  display: block;
  padding-bottom: 30px;
}

.number__phone {
  display: block;
  padding-bottom: 30px;
  padding-left: 30px;
}

.contacts__connection--name {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #333333;
  padding-bottom: 10px;
}

.contacts__text1 {
  display: block;
  width: 100%;
  max-width: 255px;
  height: 45px;
  border: none;
  background-color: #F6F6F8;
}

.contacts__text2 {
  display: block;
  width: 100%;
  max-width: 255px;
  height: 45px;
  border: none;
  background-color: #F6F6F8;
}

.contacts__connection--item2 {
  display: flex;
  flex-direction: column;
}

.contacts__text--sms {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  max-width: 540px;
  height: 115px;
  border: none;
  background-color: #F6F6F8;
}

.contacts__btn {
  margin-top: 20px;
  display: block;
  margin-left: 0px;
}

.footer {
  display: block;
  width: 100%;
  height: 153px;
  background-color: #343740;
  padding-top: 50px;
  padding-left: 45%;
  padding-right: 50%;
}