<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/blog.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

{% include 'app/module/_header/_header.html' %}

  <main class="main">

{% include 'app/module/_top/_top.html' %}

    <section class="blog-page">
      <div class="container">
        <div class="blog-page__inner">
          <div class="blog-page__content">

            <div class="blog-page__item">
              <a class="blog-page__item-link" href="#">
                <img class="blog-page__img" src="images/blog/page-1.jpg" alt="blog img">
              </a>
              <div class="blog-page__item-box">
                <h4 class="blog-page__item-title" href="">
                  <a class="blog-page__item-link">
                    Be prepared to sweat a lot, but at least in the Southern regions there’s a good chance
                    you’ll get to
                    enjoy!
                  </a>
                </h4>
                <div class="blog-box">
                  <a class="blog-box__author" href="#">By Admin</a>
                  <div class="blog-box__date">10 January, 2020</div>
                </div>
                <p class="blog-page__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra maycenas
                  acchmsan lacus vel facilisis.
                </p>
              </div>
            </div>

            <div class="blog-page__item">
              <a class="blog-page__item-link" href="#">
                <img class="blog-page__img" src="images/blog/page-2.jpg" alt="blog img">
              </a>
              <div class="blog-page__item-box">
                <h4 class="blog-page__item-title" href="">
                  <a class="blog-page__item-link">
                    Be prepared to sweat a lot, but at least in the Southern regions there’s a good chance
                    you’ll get to
                    enjoy!
                  </a>
                </h4>
                <div class="blog-box">
                  <a class="blog-box__author" href="#">By Admin</a>
                  <div class="blog-box__date">10 January, 2020</div>
                </div>
                <p class="blog-page__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra
                  maycenas
                  acchmsan lacus vel facilisis.
                </p>
              </div>
            </div>

            <div class="blog-page__item blog-page__item--slider">
              <div class="blog-page__slider">
                <img class="blog-page__img" src="images/blog/page-3.jpg" alt="blog img">
                <img class="blog-page__img" src="images/blog/page-2.jpg" alt="blog img">
                <img class="blog-page__img" src="images/blog/page-1.jpg" alt="blog img">
              </div>
              <div class="blog-page__item-box">
                <h4 class="blog-page__item-title" href="">
                  <a class="blog-page__item-link">
                    Be prepared to sweat a lot, but at least in the Southern regions there’s a good chance
                    you’ll get to
                    enjoy!
                  </a>
                </h4>
                <div class="blog-box">
                  <a class="blog-box__author" href="#">By Admin</a>
                  <div class="blog-box__date">10 January, 2020</div>
                </div>
                <p class="blog-page__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra
                  maycenas
                  acchmsan lacus vel facilisis.
                </p>
              </div>
            </div>

            <div class="blog-page__item blog-page__item--no-image">
              <div class="blog-page__item-box">
                <h4 class="blog-page__item-title" href="">
                  <a class="blog-page__item-link">
                    Be prepared to sweat a lot, but at least in the Southern regions there’s a good chance
                    you’ll get to
                    enjoy!
                  </a>
                </h4>
                <div class="blog-box">
                  <a class="blog-box__author" href="#">By Admin</a>
                  <div class="blog-box__date">10 January, 2020</div>
                </div>
                <p class="blog-page__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra
                  maycenas
                  acchmsan lacus vel facilisis.
                </p>
              </div>
            </div>

          </div>

          <div class="blog-page__aside">

            <div class="filter-search filter__item">
              <h3 class="filter__title">Search</h3>
              <form class="filter-search__form" action="#">
                <input class="filter-search__input" type="text" placeholder="Search your keyword....">
                <button class="filter-search__btn" type="submit">
                  <img src="images/icons/search-white.svg" alt="search images">
                </button>
              </form>
            </div>

            <div class="person">
              <img class="person__img" src="images/avatar/ceo.jpg" alt="">
              <div class="person__name">
                Tom D. Maianay
              </div>
              <div class="person__position">
                CEO & Founder
              </div>
              <p class="person__text">
                Lorem ipsum dolor sit amet, consectetum adipiscing eit, sed do eiusmod temporary incididunt ut labore et
                dolore magnaamo aliqua. Qus ipsum suspendisse ultrices an gravida. Risus commodo
              </p>
              <div class="person__social">
                <a class="person__social-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px"
                    height="16px" viewBox="0 0 6 9" version="1.1">
                    <g>
                      <path
                        d="M 1.5 5.261719 L 1.5 9 L 3.675781 9 L 3.675781 5.261719 L 5.296875 5.261719 L 5.632812 3.542969 L 3.675781 3.542969 L 3.675781 2.933594 C 3.675781 2.023438 4.054688 1.675781 5.039062 1.675781 C 5.34375 1.675781 5.589844 1.683594 5.730469 1.699219 L 5.730469 0.140625 C 5.464844 0.0703125 4.808594 0 4.429688 0 C 2.425781 0 1.5 0.886719 1.5 2.800781 L 1.5 3.542969 L 0.261719 3.542969 L 0.261719 5.261719 Z M 1.5 5.261719 " />
                    </g>
                  </svg>
                </a>
                <a class="person__social-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                    <path
                      d="M459.4 151.7c.3 4.5 .3 9.1 .3 13.6 0 138.7-105.6 298.6-298.6 298.6-59.5 0-114.7-17.2-161.1-47.1 8.4 1 16.6 1.3 25.3 1.3 49.1 0 94.2-16.6 130.3-44.8-46.1-1-84.8-31.2-98.1-72.8 6.5 1 13 1.6 19.8 1.6 9.4 0 18.8-1.3 27.6-3.6-48.1-9.7-84.1-52-84.1-103v-1.3c14 7.8 30.2 12.7 47.4 13.3-28.3-18.8-46.8-51-46.8-87.4 0-19.5 5.2-37.4 14.3-53 51.7 63.7 129.3 105.3 216.4 109.8-1.6-7.8-2.6-15.9-2.6-24 0-57.8 46.8-104.9 104.9-104.9 30.2 0 57.5 12.7 76.7 33.1 23.7-4.5 46.5-13.3 66.6-25.3-7.8 24.4-24.4 44.8-46.1 57.8 21.1-2.3 41.6-8.1 60.4-16.2-14.3 20.8-32.2 39.3-52.6 54.3z" />
                  </svg>
                </a>
                <a class="person__social-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
                    <path
                      d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z" />
                  </svg>
                </a>
              </div>
            </div>

            <div class="latest-post">
              <h3 class="latest-post__title">
                Latest Post
              </h3>

              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img src="images/blog/aside-1.jpg" alt="" class="latest-post__img">
                </a>
                <div class="latest-post__b">
                  <a class="latest-post__title-link" href="#">
                    <h5 class="latest-post__box-title">
                      Lorem ipsum dolor suitabl amet, adiping elit.
                    </h5>
                  </a>
                  <div class="latest-post__date">16 Feb, 2019</div>
                </div>
              </div>

              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img src="images/blog/aside-2.jpg" alt="" class="latest-post__img">
                </a>
                <div class="latest-post__b">
                  <a class="latest-post__title-link" href="#">
                    <h5 class="latest-post__box-title">
                      Lorem ipsum dolor suitabl amet, adiping elit.
                    </h5>
                  </a>
                  <div class="latest-post__date">16 Feb, 2019</div>
                </div>
              </div>

              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img src="images/blog/aside-3.jpg" alt="" class="latest-post__img">
                </a>
                <div class="latest-post__b">
                  <a class="latest-post__title-link" href="#">
                    <h5 class="latest-post__box-title">
                      Lorem ipsum dolor suitabl amet, adiping elit.
                    </h5>
                  </a>
                  <div class="latest-post__date">16 Feb, 2019</div>
                </div>
              </div>

              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img src="images/blog/aside-4.jpg" alt="" class="latest-post__img">
                </a>
                <div class="latest-post__b">
                  <a class="latest-post__title-link" href="#">
                    <h5 class="latest-post__box-title">
                      Lorem ipsum dolor suitabl amet, adiping elit.
                    </h5>
                  </a>
                  <div class="latest-post__date">16 Feb, 2019</div>
                </div>
              </div>

            </div>

            <div class="filter__item filter-category">
              <h3 class="filter__title">CATEGORY</h3>
              <form class="filter-category__form" action="">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" name="" id="">
                  <div class="filter-category__checkbox">
                    <span>Woman</span>
                    <span>48</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" name="" id="">
                  <div class="filter-category__checkbox">
                    <span>Man</span>
                    <span>30</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" name="" id="" checked>
                  <div class="filter-category__checkbox">
                    <span>Sale Products</span>
                    <span>92</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" name="" id="">
                  <div class="filter-category__checkbox">
                    <span>Fashion</span>
                    <span>121</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" name="" id="">
                  <div class="filter-category__checkbox">
                    <span>Hot Dresses</span>
                    <span>52</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" name="" id="">
                  <div class="filter-category__checkbox">
                    <span>Accessories</span>
                    <span>88</span>
                  </div>
                </label>
              </form>
            </div>

            <div class="filter__item filter-popular">
              <h3 class="filter__title">Popular Tags</h3>
              <form class="filter-popular__form" action="#">
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox" name="" id="">
                  <span class="filter-popular__checkbox">Sweetshirt</span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox" name="" id="">
                  <span class="filter-popular__checkbox">Man Accessories</span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox" name="" id="">
                  <span class="filter-popular__checkbox">Fashion</span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox" name="" id="">
                  <span class="filter-popular__checkbox">Polo</span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox" name="" id="">
                  <span class="filter-popular__checkbox">T-Shirt</span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox" name="" id="">
                  <span class="filter-popular__checkbox">Jewellery</span>
                </label>
              </form>
            </div>

          </div>
        </div>
      </div>
    </section>

  </main>

  {% include 'app/module/_footer/_footer.html' %}


  <script src="js/main.min.js"></script>
</body>

</html>